body {
    background-image: url(image.jpg);
    background-attachment: local;
    color: aliceblue;
}

h1 {
    text-align: center;
    text-shadow: 1px 2px 2px black;
    font-size: 40px;
}

h2 {
    text-align: center;
    text-shadow: 1px 2px 2px black;
}

h4 {
    text-shadow: 1px 2px 2px black;
    display: block;
}

.contato {
    display: flex;
    margin-left: 10%;
    margin-right: 15%;
    border: 2px solid red;
}

.foto {
    width: 8%;
}

a {
    color: rgb(164, 164, 247);
    display: block;
    width: 20%;
}

.img-linkedin {
    width: 78%;
    height: 47%;
}

.img-github {
    width: 78%;
    height: 47%;
}